@{
    ViewBag.Title = "Road Janitor - About Us";
}
<h1>About Road Janitor</h1>

<p1>The average vehicle repair bill for pothole damage is around $300 and was estimated at $3 billion of repairs per year!</p1>
<p>Our mission is to make your city's roads safer and prevent unncessary damage to your car, but we need your help.</p>
<p>Help your city and citizens by registering for an account and reporting potholes either at your current location or at an address on the map. </p>
<footer>Created by: Chris Halasa, Alex Pappa, David Shanks</footer>
