@{
    ViewBag.Title = "Road Janitor - About Us";
}
<h1 class="headersmall">About Road Janitor<br /></h1>

<p1 style="font-size:20px">The average vehicle repair bill for pothole damage is around $300 and was estimated at $3 billion of repairs per year!<br /><br /></p1>
<div class="image-blurred-edge"></div>
<p>
    The work of a good janitor goes unnoticed.  But remove him, and his absence will be a heavy burden.  It is our mission at Road Janitor to introduce the attention of a careful custodian to our city roadways. With the help of local residents, road damage can now be reported with immediacy, and repaired quickly. It is our vision, that with the introduction of Road Janitor's efficient system of roadway management,  dangerous hazards will no longer threaten the safety of transit.
</p>
<p>Help your city and fellow citizens by registering for an account and reporting potholes either at your current location or at an address on the map. </p>
<p>Contact us at 1-800-POT-HOLE</p>





<div style="position: relative; width: 380px; height: 100px; text-align:center;margin:auto">

    <div style="position: absolute; bottom: 5px; text-align:center">
        Created by: Chris Halasa, Alex Pappa, David Shanks
    </div>
</div>
