
@{
    ViewBag.Title = "ClaimConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your claim has been confirmed</h2>

<a class="btn btn-primary viewbutton" href="~/Home/ViewClaims/">View Submitted Claims</a>

