
@{
    ViewBag.Title = "Road Janitor - Confirmation";
    int claimId = (int)Session["claimID"];
}
@using Capstone.Web.Models
@model DamageClaimModel

<h1 class="headersmall">Your claim has been submitted!</h1>
<p class="claimnumber">Your claim number is: @claimId</p><p style="width:50%;margin:auto">Write down your claim number for future reference. We will review your claim and contact you with the next steps. If you have any questions or want a status update please call 1-800-POT-HOLE.</p>
<a class="btn btn-danger viewbutton" href="~/Home/Index">Report a pothole</a><a class="btn btn-danger viewbutton" href="~/Home/ViewPotholes">View submitted potholes</a>

