
@{
    ViewBag.Title = "Road Janitor - Pothole Submitted!";
}
@model Capstone.Web.Models.Pothole

<h2>Pothole Submitted! </h2>
<script src="~/Scripts/Detailedmap.js"></script>
<p>Status:  @Model.ReturnSeverity(Model.Severity)</p>
<p>Latitude: <span id="lat">@Model.Latitude</span> Longitude: <span id="lng">@Model.Longitude</span></p>
<div id="wrapper">
    <div id="map"></div>
    </div>
<a class="btn btn-primary viewbutton" href="~/Home/ViewPotholes/">View Submitted Potholes</a>
<a class="btn btn-primary viewbutton" href="~/Home/ClaimSubmit/">Submit A Damage Claim</a>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSatSYUL3YwnEgUtqsIpU1Cd-mR9OT148&callback=initMap"></script>
