USE [master]
GO
/****** Object:  Database [Potholes]    Script Date: 4/9/2018 1:36:07 PM ******/
CREATE DATABASE [Potholes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Potholes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Potholes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Potholes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Potholes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Potholes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Potholes]
GO
USE [Potholes]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 4/9/2018 1:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[User_ID] [int] NOT NULL,
	[Claims_ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Estimated_Cost] [decimal](18, 0) NOT NULL,
	[Submission_Date] [date] NOT NULL,
	[Status] [varchar](50) NULL,
	[PotHole_ID] [int] NOT NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[Claims_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inspection/Repair]    Script Date: 4/9/2018 1:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspection/Repair](
	[Inspection_Date] [date] NULL,
	[Repair_Date] [date] NULL,
	[PotHole_ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 4/9/2018 1:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Location_ID] [int] IDENTITY(1,1) NOT NULL,
	[Exact_Location] [geography] NOT NULL,
	[Road] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Location_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pothole]    Script Date: 4/9/2018 1:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pothole](
	[PotHole_ID] [int] NOT NULL,
	[Location_ID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Severity] [int] NOT NULL,
	[Date_Reported] [date] NOT NULL,
	[Date_Inspect] [date] NULL,
	[Date_Repaired] [date] NULL,
	[Picture] [image] NULL,
	[User_ID] [int] NULL,
 CONSTRAINT [PK_Pothole] PRIMARY KEY CLUSTERED 
(
	[PotHole_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/9/2018 1:36:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Is_Employee] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Users] FOREIGN KEY([PotHole_ID])
REFERENCES [dbo].[Pothole] ([PotHole_ID])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Users]
GO
ALTER TABLE [dbo].[Inspection/Repair]  WITH CHECK ADD  CONSTRAINT [FK_Inspection/Repair_Pothole] FOREIGN KEY([PotHole_ID])
REFERENCES [dbo].[Pothole] ([PotHole_ID])
GO
ALTER TABLE [dbo].[Inspection/Repair] CHECK CONSTRAINT [FK_Inspection/Repair_Pothole]
GO
ALTER TABLE [dbo].[Pothole]  WITH CHECK ADD  CONSTRAINT [FK_Pothole_Location] FOREIGN KEY([Location_ID])
REFERENCES [dbo].[Location] ([Location_ID])
GO
ALTER TABLE [dbo].[Pothole] CHECK CONSTRAINT [FK_Pothole_Location]
GO
ALTER TABLE [dbo].[Pothole]  WITH CHECK ADD  CONSTRAINT [FK_Pothole_Users] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Pothole] CHECK CONSTRAINT [FK_Pothole_Users]
GO
USE [master]
GO
