<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Road Janitor</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS_STYLE_SHEET.css">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        <div class="topnav" id="myTopnav">

            @*a href="#home">PotHole Manager</a>*@@*not sure how to make this unhighlightable. what element would would rather than A*@
            <a href="~/Home/">Pothole Report Form</a>
            <a href="~/Home/ViewPotholes">View Reported Potholes</a>
            <a href="~/User/Login">Login</a>
            <a href="~/User/Register">Register</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="ColorChange()">&#9776;</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="layoutheaderdiv">
            <h1 class="header">o ROAD JANITOR</h1>
        </div>
    </div>
    <section class="container">
        @RenderBody()
    </section>
</body>

</html>
