<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/CSS_STYLE_SHEET.css">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/main.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="topnav" id="myTopnav">
            @*<a href="#home">PotHole Manager</a>*@@*not sure how to make this unhighlightable. what element would would rather than A*@
            <a href="~/Home/" class="active">Pothole Report Form</a>
            <a href="~/Home/ViewPotholes">View Reported Potholes</a>
            <a href="#contact">Contact</a>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="ColorChange()">&#9776;</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="jumbotron">
        </div>
    </div>
    <section class="container-fluid">
        @RenderBody()
    </section>
</body>

</html>
