

@using Capstone.Web.Controllers;
@{string username = (string)Session["UsernameKey"];}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS_STYLE_SHEET.css">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="container-fluid">
        <div class="topnav" id="myTopnav">

            @*a href="#home">PotHole Manager</a>*@@*not sure how to make this unhighlightable. what element would would rather than A*@
            <a href="~/Home/Index">Pothole Report Form</a>
            <a href="~/Home/ViewPotholes">View Reported Potholes</a>
            @if (Session["UsernameKey"] != null)
            {
                <a href="#userpage">Welcome @username!</a>
                <a href="~/User/LogOut">Log Out | @username</a>
            }
            else
            {
                @Html.ActionLink("Login", "Login", "User")
                <a href="~/User/Register">Register</a>
            }



            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="ColorChange()">&#9776;</a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="layoutheaderdiv">
            <div class="row" style="height: 300px;padding-top:35px;">

                <img class="imgsize" src="~/Content/Images/officialogo.png" />

                <div class="col-sm-9"><h1 class="header">ROAD JANITOR</h1></div>

            </div>
        </div>
    </div>
    <section class="container">
        @RenderBody()
    </section>
</body>

</html>
